/****************************************** signup form in the main pages******************************************/
.signup {
    width: 100%;
    height: 100%;
}

.form-inline {
	position: relative;
    float: left;
    border: 2px solid #a1a1a1;
    margin-left: 30%;
}
.btncontainer{
		margin-right: 20%;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}


.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-username.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#password{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#passwordcomf{
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-password.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}


input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
.modal-heading{
	background-color:transparent;
	color: white;
	
}
.modal-cont{
	color: white;
}
/**************************************************end of signup form ******************************************/



/**************************************************modal container & signup button ******************************************/



.modal-container {
    width: 50%;
    position: fixed;
    left: 30%;
    top: 13%;
    z-index: -1;
    opacity: 0;
    border-radius: 3px;
    background: white;
    border: 1px solid teal;
    transform: translate(0, -200%);
    -webkit-transform: translate(0, -200%);
    transition: opacity ease-in-out .3s, transform ease-in-out .3s;
    -webkit-transition: opacity ease-in-out .3s, transform ease-in-out .3s;
}

.modal-heading {
    background:transparent;
    text-align: center;
    padding: 10px;
}

.modal-cont {
    padding: 15px;
}

.modalactive {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
}

.pulse-button {
	position:relative;
    top: 25.8em;
    float: right;
    padding: 6px 27px 11px 5px;
    color: #ffffff;
    margin: 0 auto;
    background: #f89ff1;
    font-size: 15px;
    overflow: hidden;
    font-style: italic;
    font-weight: 500;
    width: 12%;
    border: 2px double #1584c3;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: .4s;
    cursor: pointer;
}

.pulse-button:hover {
    color: #e1a1fc;
    width: 20%;
    border-radius: 20px;
    background: transparent;
    border: 2px dotted #e1a1fc;
    border-color: #eb96f9;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*font-family: 'Architects Daughter', sans-serif;*/
    -webkit-user-select: none;
    user-select: none;
}
/**************************************************end of modal container & signup button ******************************************/


