body {
    /*margin: 0px;
    padding: 50px 20px;*/
    /*background-image: url('http://www.bdaarc.com/images/uploads/galleryphotos/h08-Animal-Shelter-Design.jpg');*/
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.jumbotron {
    color: #ffffff;
    padding: 250px 5px;
    background-image: url('../images/Animal-Shelter-Design.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.logo {
    position: relative;
    width: 14%;
    height: 14%;
    top: 5px;
    right: 185px;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}