body {
    /*margin: 0px;
    padding: 50px 20px;*/
    /*background-image: url('http://www.bdaarc.com/images/uploads/galleryphotos/h08-Animal-Shelter-Design.jpg');*/
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.jumbotron {
    color: #ffffff;
    padding: 250px 5px;
    background-image: url('../images/Animal-Shelter-Design.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.logo {
    position: relative;
    width: 14%;
    height: 14%;
    right: 200px;
}
.launch-modal{
	background: #ce7cf7;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

div.post {
  padding: 5em;
}

div.form-group.tp {
  width: 15em;
}

#price{
  width: 15em;
}
