body {
    /*margin: 0px;
    padding: 50px 20px;*/
    /*background-image: url('http://www.bdaarc.com/images/uploads/galleryphotos/h08-Animal-Shelter-Design.jpg');*/
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*.container {
  padding: initial;
  margin: initial;
}*/
.jumbotron {
    /*background-color: #55c6ef;*/
    /* Orange */
    color: #ffffff;
    padding: 250px 5px;
    background-image: url('../images/Animal-Shelter-Design.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 60px 50px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
