<!-- header -->
<div ng-include="'./header.html'" ng-show="MainCtrl.showHeader"></div>
<!-- navbar -->
<div ng-include="'./navbar.html'" ng-show="MainCtrl.showNav"></div>
<div class="post">
    <form class="postform" name="newPostForm">
        <!-- <form class="postform" ng-click="MainCtrl.submit()" name="newPostForm"> -->
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" class="form-control custom-form-control" id="postTitle" placeholder="TITLE" ng-model="MainCtrl.post.title" required ng-minlength="5">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control custom-form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="MainCtrl.post.email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control custom-form-control" id="exampleInputPassword1" placeholder="Password" ng-model="MainCtrl.post.password">
        </div>
        <div class="form-group">
            <label for="categorySelect">Select Category</label>
            <select class="form-control custom-form-control" id="categorySelect" ng-model='MainCtrl.selected' ng-options="c.label for c in MainCtrl.categories | orderBy:'-priority'" required></select>
            <small class="form-text text-muted" ng-show="MainCtrl.post">
                Selected Category:
                {{MainCtrl.selected}}</small>
        </div>
        <div class="form-group">
            <label for="contentText">Description</label>
            <textarea class="form-control custom-form-control" id="contentText" rows="15" ng-model="MainCtrl.post.description" required ng-minlength="5"></textarea>
        </div>

        <div class="form-group">
            <label for="userAddr">Address</label>
            <input class="form-control custom-form-control" placeholder="Enter Address" id="userAddr" ng-model="MainCtrl.post.address"></input>
        </div>

        <div class="form-group">
            <label for="datepicker">Date</label>
            <input id="datepicker1" class="form-control custom-form-control" placeholder="mm/dd/yyyy" data-provide="datepicker" ng-model="MainCtrl.post.date">
        </div>

        <div class="form-group tp">
            <label for="timepicker1">Starting TIme</label>
            <div class="input-group bootstrap-timepicker timepicker">
                <input id="timepicker1" type="text" class="form-control custom-form-control input-small" ng-model="MainCtrl.post.startingTime">
                <span class="input-group-addon custom-form-control-span">
                    <i class="glyphicon glyphicon-time"></i>
                </span>
            </div>
        </div>

        <div class="form-group tp">
            <label for="timepicker2"/>Ending TIme</label>
            <div class="input-group bootstrap-timepicker timepicker">
                <input id="timepicker2" type="text" class="form-control custom-form-control input-small" ng-model="MainCtrl.post.endingTime">
                <span class="input-group-addon custom-form-control-span">
                    <i class="glyphicon glyphicon-time"></i>
                </span>
            </div>
        </div>

        <div class="form-group">
          <label for="price">Price</label>
          <input class="form-control custom-form-control" type="number" id="price" ng-model="MainCtrl.post.price">
          <small class="form-text text-muted" ng-show="MainCtrl.post.price">{{MainCtrl.post.price | currency:"USD$"}}</small>
        </div>

        <div class="form-group">
            <label for="imageUpload">Upload Image</label>
            <input class-"btn" type="file" id="file" name="file"/>
            <button class="btn" ng-click="MainCtrl.addImageFile()">Add</button>
            <p>{{MainCtrl.post.imageData}}</p>
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit" ng-click="MainCtrl.submit()" ng-disabled="newPostForm.$invalid">
        </div>
    </form>
</div>
